{% extends 'base.html.twig' %}

{% block title %}Hello amountController!{% endblock %}

{% block body %}

    <div>
        <h1>{{ amount.amout }}</h1>
        <nav>
            <a href="{{ path('app_amount_create', {"amount": amount.id}) }}">Créer un amount</a>
        </nav>
    </div>
{% endblock %}
